.HIDDEN{
    display: none;

}
.SHOW{
    display: block;
    cursor: pointer;
    
}

.FADEIN_SHOW{
    visibility: visible;
    opacity: 1;
    transition: opacity 0.25s;
}
.FADEOUT_HIDDEN{
    visibility: hidden;
    width: 0; height: 0;
    opacity: 0;
}

.BLUR_BUTTON{
    display: inline-block;
    /* font-size: 18px;  */
    font-size: 1.1em;
    color: #c04444;

}

.BLUR_BUTTON:hover{
    color: black;
}