footer{
    
    width: 100%;
    /* margin: 20px auto 0;  */

    position: absolute;
    bottom: 0;
    margin-top: 65px;
    clear: both;
    display: inline-block;
    
    text-align: center;
    padding: 20px 5px 0px;
    font-size: 14px;
}

footer .line2{
    margin-top: 13px;
    margin-bottom: 13px;
}

@media screen and (max-width:480px){
    footer span{
        
        font-size: 12px;
    }
    footer .line1 span:nth-child(2)::before{
        content:'/';
    }
    footer .line1 span:nth-child(3)::before{
        content:'';
        display: block;
    }
    footer .BLUR_BUTTON{
        margin-right: 13px;
    }
}
@media screen and (min-width:481px){
    footer span{
        /* margin-right: 20px; */
    }
    

    footer .line1{
        margin-bottom: 5px;
    }
    footer .line1 span+span::before{
        content:'/';
    }
    footer .BLUR_BUTTON{
        margin-right: 20px;
    }
}
