header{
    width: 100%; 
    position: relative;
}
header h2{
    display: inline-block; 
    
    position: absolute;
    bottom: 0; left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 480px){
    header{
        height: 100px;
    }

    header h2{
        font-size: 30px; 
    }
}
@media screen and (min-width: 480px){
    header{
        height: 150px;
    }
    header h2{
        font-size: 35px; 
    }
}