.modal{
    width: 90vh; height: 60vh;
    background-color: gray;
    position: relative;
    
    top: 
}
.text{width: 30%;
    height: 100%;
    background-color: white;
position: absolute;
    right: 0;
}

.text li{
    list-style: none;
    padding: 10px 6px;
    
}

.buy{
    display: inline-block;
    
}

.buy:hover{
    background: black;
    color: white;
}