main{
    height: 850px; 
    padding: 80px 50px 0;
    
    position: relative;
}
/* aside */
main .aside{
    position: absolute;
    list-style: none;
    padding: 10px;
}
main .aside li{
    margin: 10px;
    
}
main .aside a:hover{
    color: white;
    background-color: black;
}

/*item*/
main .js-itemList{
    width: 900px; 
    height: 2500px; 
    margin: 0 auto;
    position: relative;
}
main .js-itemList li{
    width: 290px;
    height: 290px;
    object-fit:contain;
    margin-bottom: 10px;
    
    float: left;
}
main .js-itemList li img{
    /* display: block; */
    width: 100%;
    height: 100%;
}
main .js-itemList li:nth-of-type(3n+1),
main .js-itemList li:nth-of-type(3n+2){
    margin-right: 10px;
}

