/* modal background */
#modal{
  width: 100%; height: 100%;
  /* position: relative; */
  background-color: rgba(0,0,0,0.2);
  position: fixed;
  z-index: 5;
}

/* 'x' button */
#modal:after{
  content: '';
  background-image: url(img/icon/x.png);
  background-size: contain;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10PX;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

/*---- slide container satrt ----*/
/* mobile version modal size */
.slideshow-container{
  width: 100%;
  background-color: #717171;
  /* height: 400px; */
  position: absolute;
  top: 30%;
}

@media screen and (max-width: 480px){
  .slideshow-container{
    width: 100%;
    top: 20%;
  }
  .slideshow-container img{
    width: 100%;
    height: 100vw;
  }
}
@media screen and (min-width: 481px){
  /* Slideshow container */
  .slideshow-container {
    width: 500px;
    height: 500px;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
  }

  /* slide image */
  .slideshow-container img{
    width: 500px;
    height: 500px;

  }
}
/*---- slide container end ----*/


/*----- Next & previous buttons start-----*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  color: white;
  font-size:25px;
  padding: 10px;
  z-index: 10;;
}
.prev{
  left:10px;
}
/* Position the "next button" to the right */
.next {
  right: 10px;
}
.prev:hover,
.next:hover{
  background-color: gray;
}
/*----- Next & previous buttons end-----*/

/*----- dots start -----*/
.dots{
  text-align: center;
  margin-top: -40px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  z-index: 10;
}
/*----- dots end -----*/

.active{
  background-color: #717171;
}
.dot:hover{
  background-color: #717171;
}

/*----- text area start -----*/
dl{

  background: white;;
  position: absolute;
  word-break: keep-all;
}
dt,
dd
{
  display: inline;
}
@media screen and (max-width: 480px){
  dl{
    width: 100%;
    top: 100%;
    padding: 10px;
  }
  dt,
  dd{
    font-size: 14px;
  }
  dt{
    margin: 3px 0; 
  }
}

@media screen and (min-width: 481px){
  dl{
    width: 400px;
    height: 500px;
    top: 0;
    left: 100%;
    padding: 40px 20px 0;
  }
  dl .text{
    margin-bottom: 15px;
    line-height: 1.5;
  }
  dt,
  dd{
    font-size: 17px;
  }
  dt{
    margin: 5px 0; 
  }
}
/*----- text area end -----*/